* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(21, 20, 20);
}

.cart-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px; /* Adjust the margin as needed */
}

nav ul li a:hover {
    text-decoration: underline;
}

nav ul {
    margin: 10px;
}

nav {
    background-color: #f8f9fa;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    right: 0;
    background-color: #f8f9fa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dropdown-menu a {
    color: #333;
    text-decoration: none;
    display: block;
    padding: 5px 10px;
}

.dropdown-menu a:hover {
    background-color: #e9ecef;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 70px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

button {
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    background-color: #f1f1f1;
}

button:hover {
    background-color: #ddd;
}

.total {
    font-weight: bold;
}
